*{
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif; 
    box-sizing: border-box;
}

#container{
    height: 800px;
    width: 100%;
}
/* Header */
#header{
    width: 100%;
    height: 30px;
    background-color: #3c5a9a;
}

#header #menu #title{
    color: #ffffff;
    font-weight: bold;
    line-height:30px;
    margin-left: 10%;
}
#header #menu #login{
    color: #ffffff;
    font-weight: bold;
    line-height:30px;
    float:right;
    margin-right: 7%;
}
#header #menu #search{
    margin-top: 100px ;
}
#header #menu #search input{
    margin-left: 1%;
    width: 40%;
    line-height: 17px;;
}
#search input{
    border-radius: 3px;
}
input{
    border: 1px solid #e4e4e4;
    border-radius: 2px;
}


/* form */
#main{
    width: 100%;
    height: 100%;
}
#form-container{
    margin: 0 auto;
    width:350px;
}
#form-container #header-form{
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #3d5c90;
    padding:20px 0px 20px;
    background-color:#ffffff;
}

#form-container form{
    max-width: 100%;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 5px 5px #AAA;
    padding: 20px;
}

form input[type="text"], form input[type="password"]{
    outline:none;
    width:100%;
    line-height: 30px;
    margin-bottom: 10px ;
    padding-left: 10px;
}


#button #submit{
background-color: #3c589a;
color: #ffffff;
border: 0px solid black;
border-radius: 3px;
width:33.33%;
height: 35px;
font-size: 17px;
margin-left: 33.33%;
}

